<br />
<br />
<button class="btn btn-secondary" (click)="backToHome()">Home Page</button>
<br />
<br />
<br />
<h2>Booking:</h2>
<div *ngFor="let property of movie" id="movie">
  <br />
  <h3>{{property.name}}</h3>
  <br />

  <label> <span>Sessions: </span></label>
  <div>{{bookingTime
    |
    date:'short'}}<br /></div>
  <br />
  <label><span>Price: </span>{{property.price | currency:'AUD':true:'1.2-2'}}</label>
  <br />
  <br />
</div>

<div *ngIf="!flag" id="movie">
  <br />
  <br />
  <label>This movie is coming soon. Please stay tune.</label>
</div>
<div *ngIf="flag" id="movie">
  <form id="form">
    <label>Please enter your email: </label><input id="email" type="text" class="form-control">
    <br />
    <button class="btn btn-primary" type="submit">Confirm booking</button>
  </form>
</div>