<br />
<br />
<button class="btn btn-secondary" (click)="backToHome()">Home Page</button>
<br />
<br />
<br />
<h2>Booking:</h2>
<div *ngFor="let property of movie" id="movie">
  <br />
  <h3>{{property.name}}</h3>
  <br />

  <label>
    <span>Sessions: </span>
  </label>
  <div>{{bookingTime | date:'short'}}
    <br />
  </div>
  <br />
  <label>
    <span>Price: </span>{{property.price | currency:'AUD':true:'1.2-2'}}</label>
  <br />
  <br />
</div>

<div *ngIf="!flag" id="movie">
  <br />
  <br />
  <label>This movie is coming soon. Please stay tune.</label>
</div>
<div *ngIf="flag" id="movie">
  <form #bookingForm="ngForm" (ngSubmit)="bookingForm.valid && onBook(bookingForm)">
    <label>Please enter your email: </label>
    <input type="text" #email="ngModel" [(ngModel)]="msgService.email" name="email" placeholder="Email" class="form-control"
      required [pattern]="emailRegex" [ngClass]="{ 'ng-invalid': bookingForm.submitted && !email.valid }">
    <!-- Display of Validation for email input -->
    <div *ngIf="bookingForm.submitted && email.errors">
      <label *ngIf="email.errors.required" class="validation-message">Email is required.</label>
      <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
    </div>
    <button class="btn btn-primary" type="submit">Confirm booking</button>
  </form>
</div>