<br />
<br />
<br />

<!-- List of genres to find movies by -->
<div id="genres" class="list-group">
    <a (click)="findMoviesByGenre(dramas)" class="list-group-item list-group-item-action list-group-item-light">Dramas</a>
    <a (click)="findMoviesByGenre(action)" class="list-group-item list-group-item-action list-group-item-dark">Action</a>
    <a (click)="findMoviesByGenre(crime)" class="list-group-item list-group-item-action list-group-item-light">Crime</a>
    <a (click)="findMoviesByGenre(horror)" class="list-group-item list-group-item-action list-group-item-dark">Horror</a>
    <a (click)="findMoviesByGenre(comedies)" class="list-group-item list-group-item-action list-group-item-light">Comedies</a>
    <a (click)="findMoviesByGenre(fantasy)" class="list-group-item list-group-item-action list-group-item-dark">Fantasy</a>
    <a (click)="findMoviesByGenre(romance)" class="list-group-item list-group-item-action list-group-item-light">Romance</a>
</div>
<br />
<br />

<!-- Display of movie result found -->
<div *ngFor="let property of movies" id="movie">

    <!-- Display movie name -->
    <h3>{{property.name}}</h3>
    <br />
    <br />
    <br />

    <!-- Display list of movie showtime sessions -->
    <label>
        <span>Sessions: </span>
    </label>
    <br />
    <div *ngFor="let showtime of property.showtime" class="list-group-item list-group-item-action list-group-item-light" [routerLink]="['../genre', showtime,property._id]">{{showtime | date:'short'}}
        <br />
    </div>
    <br />

    <!-- Display movie running time -->
    <label>
        <span>Running time: </span>
        <br />
        <br /> {{property.runningTime}} mins
    </label>
    <br />
    <br />

    <!-- Display movie director, pipe into uppercase -->
    <label>
        <span>Director: </span>
        <br />
        <br /> {{property.director | uppercase}}
    </label>
    <br />
    <br />

    <!-- Display list of movie stars/actors/actresses, pipe into uppercase -->
    <label>
        <span>Cast:</span>
    </label>
    <br />
    <div *ngFor="let star of property.stars">
        {{star|uppercase}}
        <br />
    </div>
    <br />
    <br />

    <!-- Display movie storyline/summary -->
    <label>
        <span>Story: </span>
        <br />
        <br /> {{property.storyline}}
    </label>
    <br />
    <br />

    <!-- Display list of movie gernes, pipe into uppercase -->
    <label>
        <span>Genre:</span>
    </label>
    <div *ngFor="let genre of property.genres">
        {{genre|uppercase}}
    </div>
    <br />
    <br />

    <!-- Display movie status, pipe into uppercase -->
    <label>
        <span>Status: </span>
        <br />
        <br /> {{property.status | uppercase}}
    </label>
    <br />
    <br />
</div>