<h2>Edit movie</h2>

<form>
    <div class="form-group">
        <label for="movieName">Movie Name</label>
        <input id="movieName" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Year</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Director(s)</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Actors</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group">
        <label>Summary</label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Session</label>
        <input type="text" class="form-control">
    </div>

    <button class="btn btn-primary">Save changes</button>
</form>