/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Bold|Cormorant SC");
@import url("https://fonts.googleapis.com/css?family=Semi-Bold|Source Sans Pro");
@import url("https://fonts.googleapis.com/css?family=Source Sans Pro");
@import url("https://fonts.googleapis.com/css?family=Fredericka the Great");
@import url("https://fonts.googleapis.com/css?family=Oswald");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* Headings */
h1 {
  text-align: center;
  font: bold;
  font-family: "Fredericka the Great", sans-serif;
  color: rgb(209, 156, 21);
}

h2 {
  text-align: left;
  color: grey;
  font-family: "Cormorant SC", sans-serif;
  font-family: "Bold", sans-serif;
}

h3 {
  text-align: center;
  color: black;
  font-family: "Fredericka the Great", sans-serif;
}

/* Links */

a {
  font-family: "Cormorant SC", sans-serif;
  font-family: "Semi-Bold", sans-serif;
  text-decoration: none;
  color: gray;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 15px;
}

a:hover,
a:active {
  color: rgb(209, 156, 21);
  text-decoration: underline;
}

a.danger {
  color: red;
}

/* Form Elements */

label {
  font-size: 20px;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}

span {
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Semi-Bold", sans-serif;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

label.validation-message {
  color: #ed5558;
}

label.success {
  padding: 20px;
  color: #249424;
  margin-bottom: 15px;
  font-size: 18px;
}

label.validation-message {
  color: #ed5558;
  font-size: 15px;
}
button {
  font-family: "Source Sans Pro", sans-serif;
  width: 5cm;
  height: 1cm;
}

/* Class Selectors */

.spacing {
  margin-bottom: 20px;
}

.alert {
  padding: 20px;
  color: #f44336;
  margin-bottom: 15px;
}

.success {
  padding: 20px;
  color: #249424;
  margin-bottom: 15px;
}

.list-group-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: grey;
}

.footer {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Semi-Bold", sans-serif;
  font-size: 15px;
}

.comingSoonBlock,
.nowShowingBlock {
  background-color: white;
  text-align: center;
  font-family: "Cormorant SC", sans-serif;
  font-family: "Bold", sans-serif;
  font-size: 35px;
  color: gray;
}

/* ID Selectors */

#list {
  color: grey;
  font-size: 20px;
  font-family: "Cormorant SC", sans-serif;
}

#information {
  font-family: "Oswald", sans-serif;
  color: grey;
  font-size: 25px;
  overflow-wrap: break-word;
  width: 45em;
}

#movie {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: grey;
}

#form {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: grey;
}

#genres {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: black;
}

#admin {
  font-size: 20px;
  color: grey;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Semi-Bold", sans-serif;
}

#message {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Semi-Bold", sans-serif;
  font-size: 20px;
}

.navigationBar {
  display: block;
  background-color: whitesmoke;
}
