/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00b7ff;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

label.validation-message {
  color: #ed5558;
}

.alert {
  padding: 20px;
  color: #f44336;
  margin-bottom: 15px;
}

.success {
  padding: 20px;
  color: #249424;
  margin-bottom: 15px;
}
