@import url('https://fonts.googleapis.com/css?family=Semi-Bold|Source Sans Pro');

label{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Semi-Bold', sans-serif;
    font-size : 15px;
}