<div *ngFor="let property of movie" id="movie">
  <br />
  <br />
  <br />
  <h3>{{property.name}}</h3>
  <br />
  <br />
  <br />
  <label> <span>Sessions: </span></label>
  <div *ngFor="let showtime of property.showTime">{{showtime | date:'short'}}<br /></div>
  <br />
  <label><span>Running time: </span>{{property.runningTime}}</label>
  <br />
  <br />
  <label><span>Director: </span>{{property.director}}</label>
  <br />
  <br />
  <label><span>Cast: </span>{{property.stars}}</label>
  <br />
  <br />
  <label><span>Story: </span> {{property.storyline}}</label>
  <br />
  <br />
  <label><span>Genre: </span>{{property.genres}}</label>
  <br />
  <br />
  <label><span>Price: </span>{{property.price | currency:'AUD':true:'1.2-2'}}</label>
  <br />
  <br />
  <label><span>Status: </span>{{property.status}}</label>
  <br />
  <br />
</div>