<div *ngFor="let movie of movies">
  <br />
  <h2>{{movie.name}}</h2>
  <br />
  <label>Sessions time: {{movie.showTime}}</label>
  <br />
  <label>Sessions date: {{movie.showDate}}</label>
  <br />
  <label>Running time: {{movie.runningTime}}</label>
  <br />
  <label>Director(s): {{movie.directors}}</label>
  <br />
  <label>Cast: {{movie.stars}}</label>
  <br />
  <label>Story: {{movie.storyline}}</label>
  <br />
  <label>Genre: {{movie.genres}}</label>
  <br />
  <label>Status: {{movie.status}}</label>
  <br />
  <br />
</div>