<br />
<br />
<br />
<div id="admin">
  <button class="btn btn-primary" (click)="clickToAddMovie()">Add Movies</button>
  <br />
  <br />
  <div *ngFor="let movie of movies; let i = index" [attr.movieIndex]="i">
    <br />
    <h3>{{movie.name}}</h3>
    <br />
    <br />
    <button class="btn btn-secondary" (click)="onDelete(i)">Delete movie </button>
    <br />
    <br />
    <button class="btn btn-secondary" (click)="onUpdate(i)">Update Status</button>
    <br />
    <br />
    <label><span>Session time: </span>
      <br />
      <br />
      <div *ngFor="let showTime of movie.showTime">{{showTime | date:'short'}}<br /></div>
    </label>
    <br />
    <br />
    <label><span>Running time: </span> {{movie.runningTime}}</label>
    <br />
    <br />
    <label><span>Director: </span>{{movie.director}}</label>
    <br />
    <br />
    <label><span>Cast: </span>{{movie.stars}}</label>
    <br />
    <br />
    <label><span>Storyline: </span> {{movie.storyline}}</label>
    <br />
    <br />
    <label><span>Genre: </span>{{movie.genres}}</label>
    <br />
    <br />
    <label><span>Price: </span> {{movie.price | currency:'AUD':true:'1.2-2'}} </label>
    <br />
    <br />
    <label><span>Status: </span>{{movie.status}}</label>
    <br />
    <br />
  </div>
</div>