<br />
<br />
<br />
<div id="admin">
  <button class="btn btn-primary" (click)="clickToAddMovie()">Add Movies</button>
  <br />
  <br />
  <div *ngFor="let movie of movies; let i = index" [attr.movieIndex]="i">
    <br />
    <h3>{{movie.name}}</h3>
    <br />
    <br />
    <button class="btn btn-secondary" (click)="onDelete(i)">Delete movie </button>
    <br />
    <br />
    <button class="btn btn-secondary" (click)="onUpdate(i)">Update Status</button>
    <br />
    <br />
    <label><span>Session time: </span>
      <br />
      <br />
      <div *ngFor="let showtime of movie.showtime">{{showtime | date:'short'}}<br /></div>
    </label>
    <br />
    <br />
    <label><span>Running time:</span>
      <br />
      <br />
      {{movie.runningTime}} </label>
    <br />
    <br />
    <label><span>Director: </span>
      <br />
      <br />
      {{movie.director|uppercase}}</label>
    <br />
    <br />
    <span>Cast: </span>
    <br />
    <br />
    <div *ngFor="let star of movie.stars">
      <label>{{star|uppercase}}</label>
      <br />
    </div>
    <br />
    <label><span>Storyline:</span>
      <br />
      <br />
      {{movie.storyline}}</label>
    <br />
    <br />
    <span>Genre: </span>
    <br />
    <br />
    <div *ngFor="let genre of movie.genres">
      <label>{{genre|uppercase}}</label>
      <br />
    </div>
    <br />
    <br />
    <label><span>Price: </span>
      <br />
      <br />
      {{movie.price | currency:'AUD':true:'1.2-2'}} </label>
    <br />
    <br />
    <label><span>Status:
        <br />
        <br />
      </span>{{movie.status|uppercase}}</label>
    <br />
    <br />
  </div>
</div>