button{
    width: 5cm;
    height: 1cm;
}

#admin{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: grey;
}

span{
   font-weight: bolder;
   font-size: 25px;
   color: black;
}

h3{
    text-align: center;
    color: black;
}