<br />

<!-- Display of user's order history -->
<div *ngIf="userDetails" class="border border-light">
  <h3> YOUR TICKETS</h3>
</div>

<!-- If ticket records is not null, Display a list of tickets user has booked -->
<div *ngIf="tickets.length > 0" class="card-group">

  <!-- Display of individual ticket with specified id-->
  <li class="list-group-item" *ngFor="let ticket of tickets; let i = index" [attr.ticketId]="i">

    <div class="card border-dark mb-3" style="max-width: 18rem;">
      <!-- Display ticket order -->
      <div class="card-header">Ticket {{i + 1}}</div>
      <div class="card-body text-dark">

        <!-- Display movie name of ticket -->
        <h5 class="card-title">
          <strong>{{ticket.movieName}}</strong>
        </h5>

        <p class="card-text">
          <!-- Display ticket session you have booked -->
          <label>Session: </label> {{ticket.session | date:'short'}}
          <br/>
          <!-- Display email to which ticket was sent -->
          <label>Email: </label> {{ticket.email}}
          <br/>
          <!-- Display ticket price -->
          <label>Price: </label> {{ticket.price | currency:'AUD':true:'1.2-2'}}
          <br/>
        </p>
        <!-- Button to delete the ticket with specified id -->
        <button class="btn btn-secondary" (click)="onDelete(i)">Delete ticket </button>
      </div>
    </div>
  </li>

</div>

<!-- If no ticket record is found, Display this message -->
<div class="text-center" *ngIf="tickets.length == 0">
  <label style="margin:50px">You have no orders in the record</label>
</div>