@import url("https://fonts.googleapis.com/css?family=Bold|Cormorant SC");

html,
body {
  height: 100%;
  margin: 0;
}

#list {
  color: grey;
  font-size: 20px;
  font-family: "Cormorant SC", sans-serif;
}

h2 {
  text-align: left;
  color: grey;
  font-family: "Cormorant SC", sans-serif;
  font-family: "Bold", sans-serif;
}

h3 {
  text-align: center;
  color: black;
  font-family: "Fredericka the Great", sans-serif;
}

label {
  font-size: 20px;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 10px;
}

.btn {
  margin: 10px;
}

.list-group-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: grey;
}
