<table *ngIf="userDetails">

  <h2>User Profile</h2>

  <div id="userProfile">
    <p>
      <span>First Name: </span>{{userDetails.firstName}}</p>
    <p>
      <span>Last Name: </span>{{userDetails.lastName}}</p>
    <p>
      <span>Email: </span>{{userDetails.email}}</p>
    <p>
      <span>Gender: </span>{{userDetails.gender}}</p>
    <p>
      <span>Date of birth: </span> {{userDetails.dob | date: 'longDate'}}</p>
    <p>
      <span>Admin: </span> {{userDetails.isAdmin}}</p>
  </div>




  <button (click)="onLogout()">Logout</button>