@import url('https://fonts.googleapis.com/css?family=Fredericka the Great');


h1 {
  text-align: center;
  font: bold;
  font-family: 'Fredericka the Great', sans-serif;
  color: rgb(209, 156, 21);
    
}
