<br />
<br />
<div id="searchBar">
    <form [formGroup]="form">
        <div class="input-group">
            <input formControlName="movieName" type="text" placeholder="please search here" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" [disabled]="!form.valid" (click)="onSubmit()">search</button>
            </div>
        </div>
        <br />
        <div *ngIf="movieName.invalid">
            <div *ngIf="movieName.errors.minlength">Name requires at least
                {{movieName.errors.minlength.requiredLength}}
                charaters.
            </div>
            <div *ngIf="movieName.errors.maxlength">Name requires at most
                {{movieName.errors.maxlength.requiredLength}}
                charaters.
            </div>
        </div>
    </form>
</div>
<div>
    <div *ngFor="let property of movieResult" id="movie">
        <br />
        <br />
        <h3>{{property.name}}</h3>
        <br />
        <br />
        <br />
        <label> <span>Sessions: </span></label>
        <div *ngFor="let showtime of property.showTime" class="list-group-item list-group-item-action list-group-item-light"
            [routerLink]="['../search', showtime,property._id]">{{showtime
            | date:'short'}}<br /></div>
        <br />

        <label><span>Running time: </span>{{property.runningTime}}</label>
        <br />
        <br />
        <label><span>Director: </span>{{property.director}}</label>
        <br />
        <br />
        <label><span>Cast: </span>{{property.stars}}</label>
        <br />
        <br />
        <label><span>Story: </span> {{property.storyline}}</label>
        <br />
        <br />
        <label><span>Genre: </span>{{property.genres}}</label>
        <br />
        <br />
        <label><span>Status: </span>{{property.status}}</label>
        <br />
        <br />
    </div>
</div>