<br />
<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="../">{{home}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="../search">{{search}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="../genre">{{genre}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="../admin">{{admin}}</a>
    </li>
    <!-- User authService.isLoggedIn directly here to solve problem of manually refreshing the page to see changes -->
    <li class="nav-item" *ngIf="!authService.isLoggedIn()" routerLinkActive="active">
      <a routerLink="../login">{{logIn}}</a>
    </li>
    <li class="nav-item" *ngIf="!authService.isLoggedIn()" routerLinkActive="active">
      <a routerLink="../register">{{register}}</a>
    </li>
    <li class="nav-item" *ngIf="authService.isLoggedIn()" routerLinkActive="active">
      <a routerLink="../userprofile">{{profile}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="../companyInformation">{{companyInformation}}</a>
    </li>
  </ul>
</nav>