<nav class="col-md-10 col-md-offset-2">
  <ul class="nav nav-pills">
    <li routerLinkActive="active"><a routerLink="../home">{{home}}</a></li>
    <li routerLinkActive="active"><a routerLink="../genre">{{genre}}</a></li>
    <li routerLinkActive="active"><a routerLink="../award">{{award}}</a></li>
    <li routerLinkActive="active"><a routerLink="../companyInformation">{{companyInformation}}</a></li>
    <li routerLinkActive="active"><a routerLink="../login">Login</a></li>
    <li routerLinkActive="active"><a routerLink="../register">Register</a></li>
  </ul>
</nav>