@import url('https://fonts.googleapis.com/css?family=Bold|Cormorant SC');
@import url('https://fonts.googleapis.com/css?family=Semi-Bold|Source Sans Pro');
@import url('https://fonts.googleapis.com/css?family=Source Sans Pro');


#form{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: grey;
}

span{
   font-size: 25px;
   color: black;
   font-family: 'Source Sans Pro', sans-serif;
   font-family: 'Semi-Bold', sans-serif;
}

button{
    font-family: 'Source Sans Pro', sans-serif;
    width:5cm;
    height: 1cm;;
}